
.loginPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC857;
  padding: 1rem 0;
  overflow: hidden;
}

.loginContainer {
  width: 90%;
  max-width: 400px;
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

@media (width >= 767px) {
  .loginContainer {
    flex-direction: row;
    padding: 3rem;
  }
}

.loginHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.loginHeader h1 {
  font-size: 2.5rem;
  color: #000;
  font-weight: 900;
  margin: 0;
}

.loginLogo {
  width: 5rem;
}

.loginLogo img {
  max-width: 100%;
  width: 8rem;
  margin-right: 1rem;
}



.loginForm h2 {
  font-size: 1.75rem;
  color: #000;
  font-weight: 600;
  margin-top: 1rem;
}

.loginForm p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.inputGroup {
  position: relative;
  margin-bottom: 0.1rem;
}

.inputGroup label {
  font-size: 0.9rem;
  color: #333;
}

.inputIconContainer {
  position: relative;
}

.inputGroup .inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
  font-size: 1.2rem;
}

.inputGroup input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputGroup input:focus {
  border-color: #FFD700;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
  outline: none;
}

.actions .continueButton {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #FFD700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions .continueButton:hover,
.actions .continueButton:focus {
  background-color: #e6c200;
}

.actions {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}

.forgotPassword {
  color: #4B92FC;
  font-size: 0.9rem;
  text-decoration: none;
  padding-right: 1rem;
  cursor: pointer;
}

.keepSigned {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;

}

.keepSigned input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 0.5rem;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #cccccc;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.keepSigned input[type="checkbox"]:checked::after {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}

.keepSigned input[type="checkbox"]:checked {
  background-color: #4B92FC;
  border-color: #4B92FC;
}


.loginFooter {
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
}

.loginFooter span,
.loginFooter a {
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
}

.loginFooter a {
  color: #4B92FC;
  font-weight: bold;
  transition: color 0.2s;
}

.loginImage {
  width: 50%;
}

