html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  padding: 0.625rem;

} 

header .brand {
  color: #000000;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3.75rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #6e6e6e;
  margin-left: 1.5625rem;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

nav a::after {
  content: '▼';
  font-size: 0.625rem;
  margin-left: 0.3125rem;
  margin-bottom: 0.0625rem;
  position: relative;
  top: -0.1875rem;
}

nav a:hover {
  text-decoration: wavy;
  color: #aaa;
}

.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }
header .sign {
  margin-left: 5rem;
  background: #10a9fb;
  text-decoration-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 400;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

header .sign:hover{
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

header .sign:active{
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.presentation {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  margin-left: 3.3125rem;
  background-color: #F1DB12;
  width: 112.5rem;
}

.presentation .titulo-sub h1 {
  color: #000000;
  font-size: 3.75rem;
  font-weight: normal;
  font-family: 'Red Hat Display', sans-serif;
  width: 42.1875rem;
}

.presentation .titulo-sub p {
  color: #3f3f3f;
  font-size: 1.6rem;
  font-weight: 400;
  width: 39.9375rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

.presentation .titulo-sub p span {
  text-decoration: underline;
  color: rgb(47, 46, 46);
  text-decoration-color: #10a9fb;
  text-decoration-thickness: 0.25rem;
  text-decoration-style: solid;
}

.image-container {
  position: relative;
  width: 62.5rem;
  margin-left: 12.5rem;
  position: absolute;
  top: 26.2rem;
  left: 69%;
  transform: translate(-50%, -50%);
  width: 37.5rem;
  height: 37.5rem;
  background: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.availables{
  display: flex;
  background-color: #4b92fc;
  align-items: center;
  padding: 0.625rem;
  margin-left: 3.3125rem;
  width: 112.5rem;
  height: 27.5rem;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.primary {background-color: #007bff;} 
.primary:hover {background: #0b7dda;}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .0s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-family: 'Red Hat Display', sans-serif;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #ffffff;
  padding: 15px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #ffffff;
  justify-content: space-between;

}

.card .back img {
width: 9rem;
height: 9rem;
display: flex;
margin-left: 4.1rem;

}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Red Hat Display', sans-serif;
}

.card .back p {
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;

} 

.card:hover .front {
  transform: perspective(300px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.container {
  width: 100px;
  height: 100px;
}

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
        0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
        0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
        linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
} 


@media only screen and (min-width: 1921px) {
  html {
  
  }
  
  header {
      
  }
  
  header .brand {
      
  }
  
  nav a {
      
  }
  
  nav a::after {
      
  }
  
  nav a:hover {
      
  }
  
  header .login{
      
  }
  
  header .logup {
      
  }
  
  .presentation {
      
  }
  
  .presentation .titulo-sub h1 {
      
  }
  
  .presentation .titulo-sub p {
      
  }
  
  .presentation .titulo-sub p span {
      
  }
  
  .image-container {
      
  }
  
  .image-container img {
      
  }
  
  .availables{
      
  }
  
  .card {
      
  }
  
  .primary {
      
  }
  .primary:hover {
      
  }
  
  .card .face {
      
  }
  
  .card .front {
      
  }
  
  .card .front img {
      
  }
  
  .card .front h3 {
      
  }
  
  .card .back {
      
  }
  
  .card .back .link {
      
  }
  
  .card .back .link a {
      
  }
  
  .card .back h3 {
      
  }
  
  .card .back p {
      
  }
  
  .card:hover .front {
      
  }
  
  .card:hover .back {
      
  }
  
  .container {
      
  }
  
  
}


@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1480px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 414px) {

}