.slideUp {
    -webkit-animation: slideUp 1s ease-in-out forwards;
    animation: slideUp 1s ease-in-out forwards;
  }
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  
    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  
    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  