.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .plArrows,
  .plRingRotate,
  .plRingStroke,
  .plTick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .plArrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .plRingRotate,
  .plRingStroke {
    transform-origin: 80px 80px;
  }
  
  .plRingRotate {
    animation-name: ringRotate42;
  }
  
  .plRingStroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .plTick {
    animation-name: tick42;
  }
  
  .plTick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .plTick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .plTick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .plTick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .plTick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .plTick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .plTick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
    to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
    3%,
    47%,
    to {
      stroke-dashoffset: -12;
    }
    14%,
    36% {
      stroke-dashoffset: 0;
    }
  }
  