  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
    padding: 40px;

  }

  .login-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .login-logo img {
    width: 60px;
  }
  
  .login-logo h1 {
    margin: 0;
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #444;
  }
  
  .login-form p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  
 
  .input-group input {
    width: 100%;
    padding: 1rem 1rem 1rem 3.5rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s;
    background-color: #F8FAFC ;
  }
  
  .input-group input:focus {
    border-color: #FFD700;
    outline: none;
  }
  
  .input-email-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    color: #cccccc;
  }
  
  .input-password-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    color: #cccccc;
  }
  
  .continue-button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #F1DB12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .continue-button:hover {
    background-color: #000000;
  }

 
  .login-footer img {
    width: 20rem;
    display: block;
    margin: 0 auto;

  }

  .login-footer span, .login-footer a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
  }